.container {
	margin-top: 20px;
	text-align: center;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: none;
}
.sidebar_title {
	margin-left:12px;
	text-align: left !important;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 270px;
	background-color: #fff;
	transition: transform 0.3s ease-out;
}
.sidebar ul {
	margin: 0;
	padding: 0;
}
.sidebar li {
	list-style: none;
}
.sidebar a {
	display: block;
	padding: 0.5rem 1rem;
	color: #000;
	text-decoration: none;
}

.sidebar a:hover {
	background-color: #E6E6FA; 
	color: #000 !important;
}

.sidebar.is-hidden {
	transform: translateX(-300px);
}
.baralignment {
	font-size:25px;
	color:#000;
	margin-right:6px;
	width:25px;
}
.level1 {
	margin-bottom:0rem !important;
	padding-bottom:1rem !important;
}
#siteinfoIP {
	display:none !important 
}
.sidebar {
	overflow-y:auto;
	z-index: 1;
	padding-top:1rem;
}
.myaccounts .fa-fw {
	color: #8A2BE2;
}
/* Disable scrolling */
.no-scroll {
	overflow: hidden;
	height: 100%;
}
.myaccounts {
	padding-top:1rem !important;
	padding-bottom:2rem !important;
}
/* The overlay effect (background color and opacity) */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
   /* Semi-transparent background */
	display: none;
   /* Hidden by default */
	z-index: 1;
   /* Make sure it appears above other content */
}
.navitem1t {
	font-size:32px !important;
	color:#8b008b;
}
.navitem2t {
	font-size:32px !important;
	color:#2c6161;
}
.navitem3t {
	font-size:32px !important;
	color:#4B3D8D;
}
.navitem3t {
	position: relative;
	margin-top:-4px;
}
.cart-count {
	position: absolute;
	top: -5px !important;
	right: 0;
	background-color: #AD0000;
	color: #fff;
	border-radius: 50%;
	padding: 5px 5px;
	font-size: 10px;
}
.fa-phone {
	margin-left:-4px;
	margin-right:4px;
}
.fa-lg {
	line-height: 1 !important;
}
.spacernav {
	margin-left:1rem;
	margin-right:1rem;
}
