.buttonRow a {
	text-decoration:none;
}
#productreviewsBody .buttonRow a {
   display:inline-block;
	min-height: 44px;
}
#reviewsDefault .buttonRow a {
   display:inline-block;
	min-height: 44px;
}
#reviewsDefault .button:active {
   outline:none;
}
.button, input.button, input.cssButtonHover {
	display:inline-block;
	font-size:1.2em;
	margin:0;
	text-decoration:none;
	background: #ccc;
}
input.submit_button {
	border:none;
	font-size: 1.2em;
	display: inline-block;
	margin:0;
	border-radius: 0.25rem;
	width:100% !important;
}
input.submit_button:hover {
	border:none;
	font-size: 1.2em;
	display: inline-block;
	margin:0;
	border-radius: 0.25rem;
	opacity:0.5;
	width: 100%;
}
input.cssButtonHover {
	border:none;
	cursor: pointer;
	font-size: 1.2em;
	display: inline-block;
	margin:0;
	border-radius: 0.25rem;
	width: 100% !important;
	opacity: 0.5;
}
span.normal_button {
	font-size: 1.2em;
	display: inline-block;
	margin:0;
	padding: 12px 20px;
	border-radius: 0.25rem;
	background:#FFD700;
	display:flex;
	justify-content: center;
}
#productReviewsDefaultProductPageLink span.normal_button {
	font-size: 16px;
	padding:0px;
	background:transparent;
	display:flex;
}
span.normal_button:hover {
	opacity:0.5;
	background:#FFD700;
}
span.cssButton.normal_button.button.button_more_reviews, .button_more_reviews:hover, span.cssButton.normal_button.button.button_read_reviews, .button_read_reviews:hover{
	display:block;
	text-align:center;
}
span.cssButton.normal_button.button.button_write_review, .button_write_review, span.cssButton.normal_button.button.button_in_cart{
	text-align:center;
	padding:12px 20px;
}
#indexBody span.cssButton.normal_button.button.button_in_cart, #indexBody .button_in_cart:hover{
	display:inline-block;
}
span.cssButton.normal_button.button.button_goto_prod_details{
	background:transparent;
	opacity: 1;
}
#productreviewsBody span.cssButton.normal_button.button.button_goto_prod_details {
	background: transparent;
	font-size: 16px;
	opacity:1;
	color: #000;
	display:contents;
}
#productreviewsBody .button_goto_prod_details:hover {
	background: transparent;
	font-size: 16px;
	opacity:1;
	font-size:16px;
	opacity: 1;
	display: contents;
}
#productreviewsBody span.cssButton.normal_button.button.button_goto_prod_details:hover {
	background: transparent;
	font-size: 16px;
	opacity:1;
	font-size:16px;
	opacity: 1;
}
#productReviewsDefaultProductPageLink:hover {
	opacity: 0.5;
}
#reviewsDefault .button_in_cart:hover {
	float:none;
	font-size:16px;
}
#reviewsDefault .forward:hover {
	font-size:16px;
}
.button_goto_prod_details:hover{
	background:#05a5cb;
}
input.cssButton.submit_button.button.button_search, .button_search:hover{
	padding:12px 20px;
	font-size:1.3em;
	line-height:18px;
}
#advSearchDefault input.cssButton.submit_button.button.button_search, #advSearchDefault .button_search:hover{
	font-size:1.2em;
}
.button-left{
	margin-right:10px;
}
.button-right{
	margin-left:10px;
}
span.cssButton.normal_button.button.button_checkout, .button_checkout:hover{
	display:block;
}
span.cssButton.normal_button.button.button_continue_shopping, .button_continue_shopping:hover, span.cssButton.normal_button.button.button_shipping_estimator, .button_shipping_estimator:hover, span.cssButton.normal_button.button.button_back, .button_back:hover{
}
#reviewsInfoDefault span.cssButton.normal_button.button.button_in_cart, #reviewsInfoDefault .button_in_cart:hover{
	display:block;
	text-align:center;
	padding:12px 20px;
}
#reviewsInfoDefault .button_in_cart:hover, #reviewsDefault .button_in_cart:hover{
	display:block;
}
#reviewsDefault .button_in_cart:hover{
	text-align:center;
	padding:12px 20px 
}
span.cssButton.normal_button.button.button_logoff, span.cssButton.normal_button.button.small_edit{
	background:#FFD700;
}
span.button_sold_out, span.button_sold_out:hover{
	color:#8B0000;
	padding:0px;
	background:transparent;
	font-size:18px;
	outline:none;
}
#productListing span.button_sold_out:hover {
	opacity: 1 !important;
}
#orderStatus br {
	display:none;
}
/** custom overides - */
input[type="search"] {
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	height: 48px;
	width:100% !important;
}
#productinfoBody .button_sold_out {
	font-size:22px;
	display:block;
	width:100%;
	text-align:left;
}
#productinfoBody #cartAdd a {
	font-size:22px;
	width:auto;
	text-align:left;
	color:#7a1db1;
	margin-left:0rem;
}
#productinfoBody #cartAdd a:hover {
	color:#7a1db1;
	opacity:0.5;
}
#productinfoBody .button_sold_out {
	width: auto;
}
#productmusicinfoBody .button_write_review {
	width:100%;
	background: transparent;
	padding:0;
	margin-top:1rem;
	margin-bottom:1rem;
}
#manufacturersContent input {
	width:auto;
}
#manufacturers .submit_button {
	border-radius: 0.25rem;
	font-size: 1.2em;
	color: #000;
	background-color: #DEB887;
	border-color: #DEB887;
	margin-bottom:1rem;
}
#manufacturers input.cssButtonHover {
	opacity:0.5;
	border-radius: 0.25rem;
	font-size: 1.2em;
	color: #000;
	background-color: #DEB887;
	border-color: #DEB887;
	margin-bottom:1rem;
}
#aboutusBody .buttonRow {
	float:none 
}
#productmusicinfoBody .button_ask_a_question {
	background:#fff;
	padding:0px;
}
#accessibilityBody .buttonRow {
	float:none;
}
#passwordforgottenBody .buttonRow {
	float:none;
}
#passwordforgottenBody input.cssButtonHover {
	opacity:0.5;
}
#privacyBody .buttonRow {
	float:none;
}
#conditionsBody .buttonRow {
	float:none;
}
#orderstatusBody .buttonRow {
	float:none;
}
#sitemapBody .buttonRow {
	float:none;
}
#gvfaqBody .buttonRow {
	float:none;
	margin-bottom:1rem;
}
#shippinginfoBody .buttonRow {
	float:none;
}
#discountcouponBody .buttonRow {
	float:none;
}
#searchDefault .forward {
	float:none;
}
#searchDefault .forward a {
	display: block;
	min-height: 44px;
}
#searchDefault .buttonRow {
	float:none;
}
#searchDefault .button_search {
	height:auto;
	width:100%;
}
#searchDefault .back {
	float:none;
}
#askaquestionBody .forward {
	float:none;
}
#askaquestionBody .back {
	width:100%;
	;
	margin:0;
}
#searchresultBody .back {
	float:none;
}
#unsubscribeBody .buttonRow {
	float:none;
}
#cartAdd input[type="submit"] {
	background:  #8A2BE2;
	color: #fff;
	font-size:18px;
	padding:12px 20px;
	height: auto;
}
#cartAdd input[type="submit"]:hover {
	opacity:0.5;
}
#cartAdd input[type="text"] {
	width: 20% !important;
	text-align: center;
	margin-right: 5px;
	height: 52px;
}
#cartAdd {
	width:100%;
	display:flex;
	margin-bottom:0rem;
}
#cartAdd input {
	border:solid 1px #ccc;
}
#productinfoBody span.normal_button {
	background: #fff;
	padding:0px;
}
.button_send {
	background:#ccc;
	color:#fff;
	padding-top:0px;
	padding-bottom:0px;
}
.button_send:hover {
	background:#ccc;
	opacity:0.5;
	color:#000;
	padding:12px 20px 
}
.button_write_review {
	color:#8A4514;
	margin-top:1rem;
	margin-bottom:1rem;
	background: transparent;
}
.button_write_review:hover {
	opacity: 1;
}
.button_continue {
	background: #8A2BE2;
	color:#fff;
}
.button_continue:hover {
	opacity:0.5;
}
.button_redeem {
	background:#8B0000;
	color:#fff;
}
.button_redeem:hover {
	opacity:0.5;
}
.button_unsubscribe {
	margin-top:1rem;
	margin-bottom:1rem;
}
.button_continue {
	background: #8A2BE2;
	color:#fff;
}
.button_continue:hover {
	opacity:0.5;
}
.button_redeem {
	background:#8B0000;
	color:#fff;
}
.button_redeem:hover {
	opacity:0.5;
}
#shoppingcartBody .buttonRow .back{
	float:none!important;
}
#shoppingcartBody .forward, #shoppingCartDefault #PPECbuttond {
	text-align: center;
}
#shoppingcartBody input[type="image"] {
	margin-bottom:0px;
	margin-bottom:0px;
	position: absolute;
	margin-top:-181px;
	width: auto !important;
	border:none !important;
}
#shoppingcartBody .button_shipping_estimator {
	background:#7328d4;
	color: #fff;
}
#shoppingcartBody .button_continue_shopping {
	background: #8B008B;
	color:#fff;
}
#shoppingcartBody .button_checkout {
	background: #006400;
	color: #fff;
}
#contactUsDefault .forward {
	float:none;
}
#contactUsDefault .back {
	float:none;
}
#timeoutDefault legend {
	color:#000;
}
#timeoutDefault .forward {
	margin-top:1rem;
	float:none;
	margin-bottom:0.5rem;
}
.button_delete {
	padding: 12px 20px;
	height: auto;
}
.button_update {
	padding: 12px 20px;
	height: auto;
}
.button_continue_checkout {
	padding: 12px 20px;
	height: auto;
}
.button_confirm_order {
	padding: 12px 20px;
	height: auto;
}
.button_add_selected {
	padding: 12px 20px;
	height: auto;
}
.button_continue {
	padding: 12px 20px;
	height: auto;
}
.button_send {
	padding: 12px 20px;
	height: auto;
}
.button_create_account {
	padding: 12px 20px;
	height: auto;
}
.button_submit {
	padding: 12px 20px;
	height: auto;
}
.button_login {
	padding: 12px 20px;
	height: auto;
}
.button_redeem {
	padding: 12px 20px;
	height: auto;
}
.two_continue {
	margin-bottom:0.5rem;
}
#cartAdd {
	position: relative;
}
.list-more:hover {
	opacity: 0.5;
}
