  /** loginBody **/

#loginOpcDefault h2 {
    font-size: 1.3rem;
    line-height: 25px;
    margin: 0;
    padding-bottom: 1rem;
}

 
#loginOpcDefault .button_create_account:focus {
    border: solid 1px #AC171D !important
}

#loginOpcDefault .button_checkout {
    background: #8b008b;
    color: #fff;
    min-height: 47.6px;
    border: solid 1px #8b008b !important;

}

#loginOpcDefault .button_checkout:hover {
    background: transparent;
    color: #8b008b;
    min-height: 47.6px;
    border: solid 1px #8b008b !important;


}

#loginOpcDefault .opc-block .buttonRow {
    padding-left: 0;
    padding-right: 0;
}

#opc-pwf {
    margin-top: -.5rem;
}

#checkoutOneGuestInfo legend {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#checkoutoneBody .messageStackError {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#loginOpcDefault .buttonRow {
    padding-top: 0;
    padding-bottom: 1rem;
}

.opc-block-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.opc-block-2 {
    margin-top:1rem;
    margin-bottom: 1rem;
}



@media (min-width: 768px) {

    div.centerColumn#loginOpcDefault {
        display: flex !important;
        margin-bottom: 4rem;
    }

    #loginOpcDefault .opc-block .buttonRow {
        display: flex;
        justify-content: end;
    }

    #loginOpcDefault span.normal_button {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #loginOpcDefault #loginDefaultHeading {
        position: absolute;
    }

    #loginOpcDefault .messageStackError {
        position: absolute;
        margin-top: -2rem;
        width: 100%;
        max-width: 1280px;
    }

    #loginOpcDefault .opc-block-3 {
        width: auto !important;
        margin-top: 4.5rem;
        flex: 1;
        margin-bottom:0;
    }

    #loginOpcDefault .opc-block-3:nth-last-of-type(3n) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #loginOpcDefault .opc-block-2 {
        width: auto !important;
        margin-top: 4.5rem;
        flex: 1;
        margin-bottom:0;
    }

    #loginOpcDefault .opc-block-2:nth-last-of-type(2n) {
        margin-left: 1rem;
    }

    #loginOpcDefault .opc-block-2:nth-last-of-type(3n) {
        margin-right: 1rem;
    }

    #loginOpcDefault input.submit_button {
        width: auto !important;
    }

    #loginOpcDefault .button_checkout:hover {
        width: auto !important;
    }

    #loginOpcDefault .button_create_account {
        width: auto !important;
    }

    #loginOpcDefault .button_create_account:hover {
        width: auto !important;
    }

    #loginOpcDefault .button_login {
        width: auto;
    }

    #loginOpcDefault .button_login:hover {
        width: auto !important;
    }
}

/** checkoutoneBody **/

#checkoutoneBody #checkoutOneGuestInfo p {
    color: #8b0000;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

 
#checkoutoneBody .opc-buttons>div:first-child {
    float: none;
    margin-bottom: 2rem;
    display: flex;
}

#checkoutoneBody #cartContentsDisplay tr:nth-child(even):not(:last-child) {
    background: #F8F8FF;
}

#checkoutoneBody .cartTableHeading {
    background-color: transparent !important;
}

#checkoutoneBody #cartContentsDisplay th,
td {
    padding: 0.5rem !important;
}

#checkoutoneBody #checkoutPaymentMethod .important {
    color: #8b0000 !important;
}

#checkoutoneBody #cartOrderTotals {
    border: none;
}

#checkoutoneBody #cartContentsDisplay .edit-button {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -66px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#checkoutoneBody #checkoutOneShoppingCart legend {
    margin-bottom: 5rem !important;
}

#checkoutoneBody #cartContentsDisplay .productPrice {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#checkoutoneBody .alert {
    padding-left: 0;
}

#checkoutoneBody #opc-bill-edit {
    margin-top: 1rem;
}

#checkoutoneBody #opc-ship-edit {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 

#checkoutOneGuestInfo .clearBoth {
    display: none;
}

#checkoutoneBody #checkoutPaymentMethod .clearBoth {
    display: none;
}

#checkoutoneBody #checkoutOneGuestInfo .opc-right:nth-of-type(1) {
    display: none !important;
}

#checkoutoneBody span.normal_button {
    border: solid 1px #ffd700;
    margin: 0;
}

#checkoutoneBody span.normal_button:hover {
    background: transparent;
    border: solid 1px #FFD700;
    margin: 0 !important;
}

#checkoutoneBody .button.small_edit:hover {
    margin: 1rem;
}

#checkoutoneBody #ccTotalHeading {
    text-align: center !important;
}

#checkoutoneBody .button_confirm_order:hover {
    background: transparent !important;
    color: #006400 !important;
}

#checkoutoneBody .cartAttribsList {
    float: none;
    margin-top: 0.5rem !important;
}

#checkoutoneBody .floatingBox {
    width: 100%;
}

#checkoutoneBody .opc-view {
    position: relative;
    z-index: 2;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1rem;
    background: #fff;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

#opc-bill-cancel {
    margin-bottom: 1rem !important;
    display: block;
}

#opc-ship-cancel {
    margin-bottom: 1rem !important;
    display: block;
}

#checkoutOneSubmit {
    float: none !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#checkoutoneBody #cartOrderTotals br {
    display: block !important;
}

#checkoutoneBody #messages-bill {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#checkoutoneBody #messages-ship {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#checkoutoneBody .productTax {
    display: none !important;
}

 


#checkoutoneBody #choices-bill,
#choices-ship {
    display: flex !important;
    margin-bottom: 1rem !important;
}

#checkoutoneBody #choices-bill select,
#choices-ship select {
    width: 100% !important;
    margin-bottom:0 !important;
}


#checkoutoneBody #checkoutOneSubmit {
    float: none !important;
}

#checkoutoneBody #checkoutOneEmail {
    float: none !important;
    text-align: center;
}

@media (min-width: 768px) {


    #checkoutoneBody #checkoutOneSubmit {
        float: none !important;
        display: flex;
        justify-content: end;
    }

    #checkoutoneBody #checkoutOneEmail {
        float: none !important;
        text-align: right;
    }

    #checkoutoneBody #choices-bill select,
    #choices-ship select {
        width: auto !important;
    }

    #opc-ship-cancel {
        margin-bottom: 0 !important;
        display: block;
    }

    #opc-bill-cancel {
        margin-bottom: 0 !important;
    }

    #checkoutoneBody #checkoutOneShoppingCart legend {
        margin-bottom: 1rem !important;
    }

    #checkoutoneBody #cartContentsDisplay .edit-button {
        position: inherit !important;
        margin-top: 0;
    }

    #checkoutoneBody .opc-right {
        display: flex;
        justify-content: space-between;
    }

    #checkoutoneBody #opc-bill-edit {
        display: flex;
        justify-content: end !important;
        margin-top: 0;
    }

    #checkoutoneBody #opc-ship-edit {
        display: flex;
        justify-content: end !important;
        margin-top: 0;
    }

    #checkoutOneSubmit {
        float: right !important;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}


@media (min-width: 992px) {

    #checkoutShippingMethod legend {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    #checkoutoneBody #checkoutOneCartGroup {
        width: 49%;
        margin: auto;
    }

    #checkoutoneBody #instructions {
        clear: both;
    }

    #checkoutoneBody .clearBoth {
        display: none;
    }

    #checkoutOneCartGroup {
        margin-right: 0 !important;
    }

    #checkoutoneBody .floatingBox {
        width: 49% !important;
    }
}

/** checkout_success **/

 
 

#checkoutSuccessGuestPassword .button_create_account {
    margin-bottom: 1rem;
    margin-top: 1rem
}

#checkoutSuccessGuestPassword .custom-control {
    display: flex;
}

#checkoutoneconfirmationBody .footer {
    display: none;
}

#checkoutoneconfirmationBody #checkoutOneConfirmationLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    #checkoutSuccessGuestPassword .button_create_account {
        width: auto !important;
    }
}

#orderstatusBody #accountTaxDisplay {
    display: none;
}

#orderstatusBody hr:first-of-type {
    display: none;
}

#orderstatusBody #myAccountShipInfo h3 {
    margin-top: 2rem;
}

#orderstatusBody #myAccountPaymentInfo h4 {
    margin-top: 2rem;
}

#checkoutOneBillto {
    margin-bottom: 1rem;
}

#opc-billing-title {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
 
 
#checkoutOneShippingFlag label {
    color: blueviolet;
    margin-bottom:0 !important;

}

.checkoutShippingChoices legend {margin-bottom:1rem;padding-bottom:1rem;}

 
#csNotifications br {
    display: none;
}

 

/** other **/

#checkoutOneHeading {
    z-index: 2;
    position: relative;
    margin-top: 0;
}

.checkoutOneCoupon {
    background: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.checkoutOneCoupon legend {
    background: transparent;
    padding-top: 0;
}

.checkoutOneCoupon fieldset {
    background-color: aliceblue;
}

div#checkoutShippingContentChoose {
    margin-bottom: 0;
}

#checkoutShippingChoices legend {
     padding-top:1rem !important;
     padding-bottom:1rem !important;
     border: none;
}

 

.checkoutOneCoupon legend {
    margin-top: 0 !important;
    padding-top: 0 !important
}

#checkoutOneShipto legend {
    margin-top: 0 !important;
    padding-top: 0 !important
}

#checkoutOneBillto {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutOneShipto {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutComments {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutShippingMethod {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutoneBody #checkoutPaymentMethod {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutOneShoppingCart {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#instructions {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#checkoutOneGuestInfo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 992px) {
    #checkoutShippingMethod {
        margin-top: 0;
        padding-top: 0;
    }


    #checkoutOneGuestInfo {
        margin-top: 0;
        padding-top: 0;
    }
}

#checkoutOneLeft .shipping legend {
    padding-bottom:0 !important;
}

 .opc-label {
  height: 21px;
  margin: 0;
  padding:0;
  margin-bottom:0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  padding-top:0 !important;
    
}

#orderstatusBody legend {
    color:#006400;
}
 #orderstatusBody #orderHistoryHeading {
    display: none;
}
