 #loginOpcDefault h2 {
     font-size: 1.3rem;
     line-height: 25px;
     padding-bottom: 0;
}
 #checkoutPayment .alert + br {
     display: none;
}
 .opc-view .alert {
     display: none !important;
}
 .opc-view .clearBoth {
     display: none;
}
 #opc-add-ship, #opc-add-bill {
     margin-bottom: 1rem;
}
 #loginOpcDefault .information {
     padding: 0.5rem;
}
 #loginForm .opc-label {
     margin-bottom: 0.5rem;
     padding-top: 0;
}
 #loginOpcDefault span.normal_button {
     margin-bottom: 1rem;
}
 #checkoutoneBody #messages-bill:empty {
     display: none;
}
 #checkoutPayment #stateZone-bill, #checkoutPayment #stateZone-ship {
     margin: 0;
}
 #loginOpcDefault .button_checkout {
     background: #8b008b;
     color: #fff;
     min-height: 47.6px;
     border: solid 1px #8b008b;
}
 #loginOpcDefault .button_checkout:hover {
     background: transparent;
     color: #8b008b;
     min-height: 47.6px;
     margin-bottom: 0;
}
 #loginOpcDefault .button_create_account:hover {
     margin-bottom: 0;
}
 #loginOpcDefault .opc-block .buttonRow {
     padding-left: 0;
     padding-right: 0;
}
 #checkoutoneBody .cartTotalDisplay {
     display: revert;
}
 #loginOpcDefault input.submit_button {
     margin-bottom: 0;
}
 #loginOpcDefault .button_login:hover {
     margin-bottom: 0;
}
 #opc-pwf a {
     min-height: 44px;
     min-width: 44px;
     display: flex;
     align-items: center;
}
 #checkoutOneCartGroup {
     margin-top: 0;
     margin-bottom: 1rem;
}
 #loginOpcDefault #login-password {
     margin-bottom: 0;
}
 #checkoutoneBody .messageStackError {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #loginOpcDefault .buttonRow {
     padding-top: 0;
     padding-bottom: 0;
}
 form[name="guest-pwd"] h2 {
     font-weight: bold;
}
 .opc-block-3 {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 .opc-block-2 {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutoneBody #checkoutOneGuestInfo p {
     color: #8b0000;
     font-weight: bold;
     margin-top: 0;
     margin-bottom: 1rem;
}
 #checkoutoneBody .opc-buttons>div:first-child {
     float: none;
     margin-bottom: 0;
     display: flex;
}
 #opc-add-bill label {
     margin-bottom: 1rem;
}
 #checkoutoneBody #cartContentsDisplay tr.rowOdd:not(#cartOrderTotals) {
     background: #f8f8ff;
     border-top: solid 1px #ffffff;
     border-bottom: 1px #ffffff;
}
 #checkoutoneBody #checkoutOneCartGroup .cartTableHeading {
     background-color: transparent;
     border: none;
}
 #checkoutoneBody #checkoutPaymentMethod .important {
     color: #8b0000;
}
 #checkoutSuccessGuestPassword label.inputLabel {
     margin-bottom: 0.5rem;
}
 #checkoutSuccessGuestPassword #password-new, #checkoutSuccessGuestPassword #password-confirm {
     width: calc(100% - 26px);
}
 #checkoutoneBody #cartOrderTotals {
     border: none;
}
 #checkoutoneBody #cartContentsDisplay .edit-button {
     position: absolute;
     width: 100%;
     left: 0;
     margin-top: -66px;
     padding-right: 0;
     padding-left: 0;
}
 #checkoutoneBody #checkoutOneShoppingCart legend {
     margin-bottom: 5rem;
}
 #checkoutoneBody #cartContentsDisplay .productPrice {
     text-align: center;
}
 #checkoutoneBody .alert {
     display: none;
}
 #checkoutoneBody #opc-bill-edit {
     margin-top: 1rem;
}
 #checkoutoneBody #opc-ship-edit {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutOneGuestInfo .clearBoth {
     display: none;
}
 #checkoutoneBody #checkoutPaymentMethod .clearBoth {
     display: none;
}
 #checkoutPaymentMethod {
     margin-top: 0;
     margin-bottom: 1rem;
}
 #checkoutoneBody #checkoutOneGuestInfo .opc-right:nth-of-type(1) {
     display: none;
}
 #checkoutoneBody span.normal_button {
     margin: 0;
}
 #checkoutoneBody span.normal_button:hover {
     background: transparent;
     margin: 0;
}
 #checkoutoneBody div:first-child:empty {
     display: none;
}
 #checkoutoneBody #ccTotalHeading {
     text-align: center;
}
 .opc-cc-submit {
     background: #ffd700;
     border: solid 1px #ffd700;
     color: #000;
}
 #checkoutoneBody .button_confirm_order {
     background: #006400;
     border: solid 1px #006400;
     color: #fff;
}
 #checkoutoneBody .button_confirm_order:hover {
     background: transparent;
     color: #006400;
}
 #checkoutoneBody .floatingBox {
     width: 100%;
}
 #checkoutoneBody .opc-view {
     position: relative;
     z-index: 2;
     box-shadow: 3px 3px 5px 6px #ccc;
     padding: 1rem;
     background: #fff;
     margin-bottom: 1.5rem;
     border-radius: 5px;
}
 .opc-view legend {
     padding-top: 0;
}
 #checkoutoneBody .cartProductDisplay {
     display: grid;
     font-size: 0.8rem;
}
 #checkoutoneBody .floatingBox .back {
     font-size: 0.8rem;
}
 #checkoutoneBody .totalBox {
     font-size: 0.9rem;
}
 #opc-bill-cancel {
     margin-bottom: 1rem;
     display: block;
}
 #opc-ship-cancel {
     margin-bottom: 1rem;
     display: block;
}
 #checkoutShippingMethod legend {
     margin-bottom: 0;
}
 #checkoutoneBody .inputLabel {
     width: 100%;
}
 #checkoutOneBillto .opc-changed, #checkoutOneGuestInfo .opc-changed, #checkoutOneShipto .opc-changed {
     border: 1px solid #0096ff;
}
 #checkoutOneBillto .button_update, #checkoutOneShipto .button_update {
     border: 1px solid #ffd700;
     background: #ffd700;
     color: #000000;
}
 .opc-block-3 .opc-label {
     padding-top: 0;
     margin-bottom: 0.5rem;
}
 #checkoutOneSubmit {
     float: none;
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutoneBody #cartOrderTotals br {
     display: block;
}
 #checkoutoneBody #messages-bill {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutoneBody #messages-ship {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutoneBody #choices-bill, #choices-ship {
     display: flex;
     margin-bottom: 1rem;
}
 #checkoutoneBody #choices-bill select, #choices-ship select {
     width: 100%;
     margin-bottom: 0;
}
 #checkoutoneBody #checkoutOneEmail {
     float: none;
     text-align: left;
}
 #checkoutoneBody .productTax {
     display: none;
}
 #checkoutoneBody .opc-error {
     border: 1px solid red;
}
 #checkoutoneBody .cartAttribsList {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 1.5rem;
     order: 2;
}
 #checkoutoneBody .markProductOutOfStock {
     order: 2;
}
 #checkoutSuccessGuestPassword .button_create_account {
     margin-bottom: 1rem;
     margin-top: 0.5rem;
}
 #checkoutSuccessGuestPassword .custom-control {
     display: flex;
}
 #checkoutoneconfirmationBody .footer {
     display: none;
}
 #checkoutoneconfirmationBody #checkoutOneConfirmationLoading {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 #checkoutOneBillto {
     margin-bottom: 1rem;
}
 #checkoutOneShippingFlag label {
     color: #622BE2;
}
 .checkoutShippingChoices legend {
     margin-bottom: 1rem;
     padding-bottom: 1rem;
}
 #checkoutOneHeading {
     z-index: 2;
     position: relative;
     margin-top: 0;
}
 #loginOpcDefault .opc-block > div {
     padding: 0.5rem;
}
 .checkoutOneCoupon {
     background: aliceblue;
     padding: 1rem;
     border-radius: 5px;
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 #checkoutSuccessGuestPassword form[name="guest-pwd"] .custom-control-label {
     margin-bottom: 0.5rem;
}
 #checkoutSuccessGuestPassword hr {
     display: none;
}
 #checkoutComments {
     margin-top: 0;
     margin-bottom: 1rem;
}
 .checkoutOneCoupon legend {
     background: transparent;
     padding-top: 0;
}
 #opc-bill-cancel span, #opc-ship-cancel span {
     background-color: #AC171D;
     color: #fff;
     border: solid 1px #AC171D;
}
 #opc-bill-cancel span:hover, #opc-ship-cancel span:hover {
     background-color: #fff;
     color: #AC171D;
}
 .checkoutOneCoupon fieldset {
     background-color: aliceblue;
}
 #checkoutoneBody #checkoutShippingContentChoose {
     margin-bottom: 0;
}
 #checkoutShippingChoices legend {
     border: none;
}
 #checkoutOneLeft .shipping legend {
     border: none;
}
 #checkoutoneBody #checkoutOneCartGroup th, #checkoutoneBody #checkoutOneCartGroup td {
     padding: 0.5rem;
}
 #checkoutoneBody label[for^="state-"] {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     clip-path: inset(50%);
     overflow: hidden;
     white-space: nowrap;
     border: 0;
}
 @media (min-width: 576px) {
     #checkoutoneBody .productTax {
         display: revert;
         text-align: center;
    }
}
 @media (min-width: 768px) {
     #loginOpcDefault {
         margin-bottom: 3rem;
    }
     #checkoutoneBody #checkoutOneSubmit {
         display: flex;
         justify-content: end;
    }
     #checkoutoneBody #checkoutOneEmail {
         float: none;
         text-align: right;
    }
     #checkoutoneBody #choices-bill select, #choices-ship select {
         width: auto;
    }
     #opc-ship-cancel {
         margin-bottom: 0;
         display: block;
    }
     #opc-bill-cancel {
         margin-bottom: 0;
    }
     #checkoutoneBody #checkoutOneShoppingCart legend {
         margin-bottom: 1rem;
    }
     #checkoutoneBody #cartContentsDisplay .edit-button {
         right: 0;
         left: auto;
         width: auto;
         margin-top: -90px;
    }
     #checkoutoneBody .opc-right {
         display: flex;
         justify-content: space-between;
    }
     #checkoutoneBody #opc-bill-edit {
         display: flex;
         justify-content: end;
         margin-top: 0;
    }
     #checkoutoneBody #opc-ship-edit {
         display: flex;
         justify-content: end;
         margin-top: 0;
    }
     #checkoutOneSubmit {
         float: right;
         margin-top: 0;
         margin-bottom: 1rem;
    }
     #checkoutSuccessGuestPassword .button_create_account {
         width: auto;
    }
     div.centerColumn#loginOpcDefault {
         display: flex;
    }
     #loginOpcDefault .opc-block .buttonRow {
         display: flex;
         justify-content: end;
         min-height: 44px;
         min-width: 44px;
         align-items: center;
         padding-bottom: 0;
    }
     #loginOpcDefault span.normal_button {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
    }
     #loginOpcDefault #loginDefaultHeading {
         position: absolute;
    }
     #loginOpcDefault .messageStackError {
         position: absolute;
         margin-top: -1.5rem;
         width: 100%;
         max-width: 1280px;
    }
     #loginOpcDefault .opc-block-3 {
         margin-top: 4.5rem;
         flex: 1;
         margin-bottom: 0;
    }
     #checkoutoneBody .inputLabel {
         width: 100%;
    }
     #loginOpcDefault label, #loginOpcDefault input {
         width: calc(100% - 26px);
    }
     #loginOpcDefault .opc-block-3:nth-last-of-type(3n) {
         margin-left: 1rem;
         margin-right: 1rem;
    }
     #loginOpcDefault .opc-block-2 {
         width: auto;
         margin-top: 4.5rem;
         flex: 1;
         margin-bottom: 0;
    }
     #loginOpcDefault .opc-block-2:nth-last-of-type(2n) {
         margin-left: 1rem;
    }
     #loginOpcDefault .opc-block-2:nth-last-of-type(3n) {
         margin-right: 1rem;
    }
     #loginOpcDefault input.submit_button {
         width: auto;
    }
     #loginOpcDefault .button_checkout:hover {
         width: auto;
    }
     #loginOpcDefault .button_create_account {
         width: auto;
    }
     #loginOpcDefault .button_create_account:hover {
         width: auto;
    }
     #loginOpcDefault .button_login {
         width: auto;
    }
     #loginOpcDefault .button_login:hover {
         width: auto;
    }
}
 @media (min-width: 992px) {
     #checkoutoneBody #instructions {
         clear: both;
    }
     #checkoutoneBody .clearBoth {
         display: none;
    }
     #checkoutOneCartGroup {
         width: 49%;
         margin-left: auto;
    }
     #checkoutoneBody .floatingBox {
         width: 49%;
    }
     #checkoutOneGuestInfo {
         margin-top: 0;
         padding-top: 0;
    }
}
